body, html {
	background-color:#CCFFCC; 
	font-family:sans-serif; 
	color:#330033; 
	text-align:center;
}

ul {
	margin:auto;
	width:20%;
	text-align:center;
}

li {
	list-style-type:none;
	padding:5px;
	margin:2px;
	background-color:#CCCCFF;
	border:2px double #CCCCCC;
}

[draggable] {
	user-select: none;
}

ul, menu, dir {
	-webkit-padding-start: 0px;
}