<!DOCTYPE html>
{% load staticfiles %}
<html>

<head>
<link rel="stylesheet" href="{% static 'css/base.css' %}">

</head>

<body>
	<form method="POST" action="/"> {% csrf_token %}
	<p>Work In Progress</p>
		<ul id="sortable1" class="connectedSortable">
		{% for todo in todos %}
			{% if todo.section == 'wip' %}
			<li id="item_{{todo.task_row_order}}">{{todo.task}}</li>
			{% endif %}
		{% endfor %}
		</ul>

	<p>Future</p>
		<ul id="sortable2" class="connectedSortable">
		{% for todo in todos %}
			{% if todo.section == 'future' %}
			<li id="item_{{todo.task_row_order}}">{{todo.task}}</li>
			{% endif %}
		{% endfor %}
		</ul>

	</form>
<br>
<p><button type="button" id="update_list">Update List Order</button></p>
</body>

<footer>
	<script src="http://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="{% static 'js/main.js' %}"></script>
</footer>

</html>