<!DOCTYPE html>
{% load staticfiles %}
<html>

<head>
<link rel="stylesheet" href="{% static 'css/base.css' %}">

</head>

<body>
	<p>Work In Progress</p>
	<form method="POST" action="/"> {% csrf_token %}
		<ul id="sortable1" class="connectedSortable">
			{% for todo in todos %}
			<li id="item_{{todo.task_row_order}}">{{todo.task}}</li>
			{% endfor %}
		</ul>
		<p>Completed</p>
		<ul id="sortable2" class="connectedSortable">
			<li>Apple</li>
		</ul>

	</form>
<br>
<button type="button" id="update_list">Update List Order</button>
</body>

<footer>
	<script src="http://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="{% static 'js/main.js' %}"></script>
</footer>

</html>